* {
  margin: 0;
  color: white;
}

html {
  height: 100%;
  margin: 0 auto;
}

input, textarea {
  color: black;
  display: block;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.header {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: url(../public/topimg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.header .header-title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 150px;
  color: white;
  opacity: 0;
}
.header .header-title.invew {
  opacity: 1;
}
.header .header-title.invew .chara {
  display: inline-block;
  animation-name: animate-charas;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.header .header-title.invew .chara:nth-child(1) {
  animation-delay: 0.06s;
}
.header .header-title.invew .chara:nth-child(2) {
  animation-delay: 0.12s;
}
.header .header-title.invew .chara:nth-child(3) {
  animation-delay: 0.18s;
}
.header .header-title.invew .chara:nth-child(4) {
  animation-delay: 0.24s;
}
.header .header-title.invew .chara:nth-child(5) {
  animation-delay: 0.3s;
}
.header .header-title.invew .chara:nth-child(6) {
  animation-delay: 0.36s;
}
.header .header-title.invew .chara:nth-child(7) {
  animation-delay: 0.42s;
}
.header .header-title.invew .chara:nth-child(8) {
  animation-delay: 0.48s;
}
.header .header-title.invew .chara:nth-child(9) {
  animation-delay: 0.54s;
}
.header .header-title.invew .chara:nth-child(10) {
  animation-delay: 0.6s;
}
.header .header-title.invew .chara:nth-child(11) {
  animation-delay: 0.66s;
}
.header .header-nav > ul {
  padding: 130px 0 0;
  margin: 0 auto;
}
.header .header-nav > ul .menu-item {
  position: relative;
  list-style: none;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
}
.header .header-nav > ul .menu-item:nth-child(1) {
  padding-top: 0;
}
.header .header-nav > ul .menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
}
.header .header-nav.invew .menu-item {
  animation-name: animate-charas;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.header .header-nav.invew .menu-item:nth-child(1) {
  animation-delay: 0.62s;
}
.header .header-nav.invew .menu-item:nth-child(2) {
  animation-delay: 0.74s;
}
.header .header-nav.invew .menu-item:nth-child(3) {
  animation-delay: 0.86s;
}
.header .header-nav.invew .menu-item:nth-child(4) {
  animation-delay: 0.98s;
}

@keyframes animate-charas {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.container {
  width: 100%;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.559);
}
.container .title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 60px;
  color: white;
}

.text-containar {
  padding-top: 100px;
}
.text-containar .sub-title {
  font-size: 1.3rem;
}
.text-containar .sub-text {
  width: 90vw;
  margin: 0 auto;
  padding-top: 40px;
  line-height: 1.5rem;
}

.profile-containar {
  width: 90%;
  padding-top: 70px;
  margin: 0 auto;
}
.profile-containar table {
  width: 100%;
  margin-top: 50px;
  border-bottom: 1px solid white;
}
.profile-containar .profile-name {
  text-align: left;
}
.profile-containar .profile-text {
  text-align: right;
}

.formContainar {
  margin: 30px auto 0;
  max-width: 72%;
}
.formContainar .formField {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
}
.formContainar .formField .formInput {
  padding-top: 10px;
  border-radius: 7px;
}
.formContainar .formField .formArea {
  border-radius: 7px;
}
.formContainar p {
  color: rgb(234, 147, 94);
}

.submitButton {
  margin-top: 10px;
  width: 100%;
  color: black;
}

.menu-containar {
  display: flex;
}

.menu-nav {
  background-color: rgba(247, 246, 242, 0.837);
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0.8rem;
}
.menu-nav .menu-item {
  width: 20%;
  padding-top: 20px;
  border: 1px solid rgba(6, 6, 6, 0.556);
  list-style: none;
  text-align: center;
}
.menu-nav .menu-item > a {
  color: black;
}/*# sourceMappingURL=App.css.map */